/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.counter {
  align-self: flex-start;
  margin-left: 500px;
  font-size: 16px;
  color: black;

}
.input-group {
  display: flex;
  border-bottom: 1px solid #ddd;
}
.input-group input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 12px;
  border-bottom: 1px solid #eee;
  color: black;
}
.delete {
  opacity: 0;
  cursor: pointer;
  color: red;
  font-weight: bold;
}
.task-item:hover .delete {
  opacity: 1;
}
